.home_page{
    min-height: calc(100vh - 100px);
    padding: 20px;
    background: #282c34;
    color: #333;
}
.home_page h2{
    font-size: 2rem;
    margin: 10px 0;
    color: teal;
}
.home_page p{
    color: #777;
    line-height: 1.5;
    margin: 10px 0;
    font-style: italic;
}

.home_page a{
    color: white;
    background: crimson;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 3px;
    margin: 10px 0;
    letter-spacing: 1.2px;
}
.home_page h3{
    color: chocolate;
    margin-top: 30px;
}
input{
     width: 60%;
     box-sizing: border-box;
     padding: 0.5%;
     
     
}
.in{
    padding: 15%;
    text-align: center;
    font-size: 26px;
}
.btn{
    height: 15%;
}
.in h1,h4,h5 {
    color: beige;
    font-weight: bolder;
}